{% extends 'layout.html.twig' %}

{% block structuredOrganization %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "https://xaydungnhattrung.net/",
        "logo": "https://xaydungnhattrung.net/assets/images/logo.png",
        "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+84 936404139",
            "contactType": "customer service"
        }
    }
    </script>
{% endblock %}

{% block structuredWebSite %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://xaydungnhattrung.net/",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "https://xaydungnhattrung.net/search?q={search_term_string}",
            "query-input": "required name=search_term_string"
        }
    }
    </script>
{% endblock %}

{% block structuredPerson %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Xây Dựng Nhật Trung",
        "url": "https://xaydungnhattrung.net/",
        "sameAs": [
            "https://www.facebook.com/xaydungnhattrung/",
            "https://twitter.com/xaydungnhattrung",
            "https://www.linkedin.com/in/xaydungnhattrung/"
        ]
    }
    </script>
{% endblock %}

{% block body %}
    <div class="wrapper-container">
        <div class="wrapper-container-item slogin">
            <div class="container slogin-title">
                <div class="row">
                    <div class="col-12 col-md-10"><p>Bạn hãy ước mơ, chúng tôi sẽ thực hiện.<span class="d-none hidden-xs hidden-sm"> Liên hệ ngay đến chúng tôi để được tư vấn, báo giá miễn phí!<span></p></div>
                    <div class="col-12 col-md-2 text-right"><a href="tel:+84{{ get_setting('hotLine1')|replace({'.': ''})|slice(1,9) }}"> <i class="fas fa-mobile-alt" aria-hidden="true"></i> {{ get_setting('hotLine1') }}</a></div>
                </div>
            </div>
        </div>

        <div class="wrapper-container-item prices-table">
            <div class="container">
                <div class="row marketing">
                    {% for priceOnHomepage in blockPricesOnHomepage %}
                        <div class="col-md-3 col-sm-3">
                            <div class="intro">
                                <div class="img">
                                    <div class="mid-img">
                                        <a href="{{ path('news_show', {'slug': priceOnHomepage.getUrl() }) }}" title="{{ priceOnHomepage.getTitle() }}">
                                            <div class="center-img">
                                                <img alt="{{ priceOnHomepage.getTitle() }}" class="img-responsive lazyload" data-src="{{ (vich_uploader_asset(priceOnHomepage, 'imageFile') ? vich_uploader_asset(priceOnHomepage, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_440_440') }}" />
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="text">
                                    <a href="{{ path('news_show', {'slug': priceOnHomepage.getUrl() }) }}" title="{{ priceOnHomepage.getTitle() }}">{{ priceOnHomepage.getTitle() }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% for blockOnHomepage in blocksOnHomepage %}
            {% if (loop.index != 2) %}
                {% if blockOnHomepage.category.getId() != 3 and blockOnHomepage.category.getId() != 4 and blockOnHomepage.category.getId() != 2 %}
                    <div class="wrapper-container-item block-homepage">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 title-list-news-items">
                                    <p class="text-center text-uppercase p-title-list-news-items">
                                        <span>Nhật </span> Trung <i class="fas fa-angle-right"></i> 
                                        <a href="{{ path('news_category', {'level1': blockOnHomepage.category.getUrl() }) }}" title="{{ blockOnHomepage.category.getName() }}">{{ blockOnHomepage.category.getName() }}</a>
                                    </p>
                                    <p>{{ blockOnHomepage.description }}</p>
                                </div>

                                <div class="col-md-12 list-news-items">
                                    <div class="row">
                                        {% for row in blockOnHomepage.posts %}
                                            {{ include('news/components/itemsGridHomepage.html.twig') }}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="wrapper-container-item project-hot">
                        <div class="container">
                            <div class="row project-hot">
                                <div class="col-md-12 title-list-news-items">
                                    <p class="text-center text-uppercase p-title-list-news-items">
                                        <span>Nhật </span> Trung <i class="fas fa-angle-right"></i> 
                                        <a href="{{ path('list_category', {'level1':'du-an', 'level2': blockOnHomepage.category.getUrl() }) }}" title="{{ blockOnHomepage.category.getName() }}">{{ blockOnHomepage.category.getName() }}</a>
                                    </p>
                                    <p>{{ blockOnHomepage.description }}</p>
                                </div>

                                <div class="clearfix"></div>

                                <div class="list-news-items">
                                    <div class="bxslider">
                                        {% for row in blockOnHomepage.posts %}
                                            {{ include('news/components/itemsGridSlide.html.twig') }}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="wrapper-container-item block-homepage">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 title-list-news-items">
                                <p class="text-center text-uppercase p-title-list-news-items">
                                    <span>Nhật </span> Trung <i class="fas fa-angle-right"></i> 
                                    <a href="{{ path('news_category', {'level1': blockOnHomepage.category.getUrl() }) }}" title="{{ blockOnHomepage.category.getName() }}">{{ blockOnHomepage.category.getName() }}</a>
                                </p>
                                <p>{{ blockOnHomepage.description }}</p>
                            </div>

                            <div class="col-md-12 list-news-items">
                                <div class="row">
                                    {% for row in blockOnHomepage.posts %}
                                        {{ include('news/components/itemsGridHomepage.html.twig') }}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper-container-item block-homepage">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 title-list-news-items">
                                <a href="{{ path('news_show', {'slug': 'dien-vien-thanh-dat-ton-gan-3-ty-dong-sua-nha' }) }}" title="Diễn viên Thành Đạt tốn gần 3 tỷ đồng sửa nhà">
                                    <img src="https://xaydungnhattrung.net/uploads/ckfinder/userfiles/images/qc.jpg" alt="Diễn viên Thành Đạt tốn gần 3 tỷ đồng sửa nhà" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="wrapper-container-item caculator-cost-construction">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 title-list-news-items">
                        <p class="text-center text-uppercase p-title-list-news-items">
                            <span>Nhật </span> Trung <i class="fas fa-angle-right"></i> 
                            Dự toán chi phí
                        </p>
                        <p>Dễ dàng dự toán chi phí trước khi xây dựng nhà cùng công ty Xây Dựng Nhật Trung</p>
                    </div>
                    <div class="col-md-12">
                        {{ render(controller(
                            'AppBundle:News:caculatorCostConstruction', {type: 'page'}
                        )) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}