<!-- Begin footer -->
<footer>
    <div class="container">
        <div class="row footer-top">
            <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                <h3 class="text-uppercase">Nhật Trung</h3>
                <div class="footer-text-wrap">
                    <p>Xây Dựng Nhật Trung là công ty hoạt động trong lĩnh vực tư vấn thiết kế và thi công các công trình xây dựng nhà phố, biệt thự và sửa chữa nhà, cải tạo nhà cũ. Phạm vi hoạt động của công ty chúng tôi là trên địa bàn Thành Phố Hồ Chí Minh và các tỉnh thành lân cận: Đồng Nai, Bình Dương, Củ Chi, Long An, …</p>
                </div>
            </div>
            <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                <h3 class="text-uppercase">Liên hệ</h3>
                <ul class="footer-company">
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <span>224 Gò Dầu, Phường Tân Qúy, Quận Tân Phú, TP HCM</span>
                    </li>
                    <li>
                        <i class="fa fa-phone"></i>
                        <span><a href="tel:0936404139">0936.40.41.39</a></span>
                    </li>
                    <li>
                        <i class="fa fa-envelope-o"></i>
                        <span><a href="mailto:xaydungnhathu@gmail.com">xaydungnhathu@gmail.com</a></span>
                    </li>
                    <li>
                        <i class="fa fa-internet-explorer"></i>
                        <span><a href="https://xaydungnhattrung.net/">www.xaydungnhattrung.net</a></span>
                    </li>
                </ul>

                <div class="social-wrapper">
                    <span class="td-social-icon-wrap">
                        <a target="_blank" href="{{ get_setting('linkToFacebook') }}" title="Xây Dựng Nhật Trung trên Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </span>
                    <span class="td-social-icon-wrap">
                        <a target="_blank" href="{{ get_setting('linkToYoutube') }}" title="Xây Dựng Nhật Trung trên Youtube">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </span>
                    <span class="td-social-icon-wrap">
                        <a target="_blank" href="{{ get_setting('linkToLinkedin') }}" title="Xây Dựng Nhật Trung trên Linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </span>
                    <span class="td-social-icon-wrap">
                        <a target="_blank" href="{{ get_setting('linkToWordpress') }}" title="Xây Dựng Nhật Trung trên Wordpress">
                            <i class="fab fa-wordpress"></i>
                        </a>
                    </span>
                    <span class="td-social-icon-wrap">
                        <a target="_blank" href="{{ get_setting('linkToBlog') }}" title="Xây Dựng Nhật Trung trên Blogger">
                            <i class="fas fa-blog"></i>
                        </a>
                    </span>
                </div>

                <div class="event-footer row">
                    <div class="col-12 col-sm-12 col-md-12">
                        <div class="event-footer-item" itemtype="http://data-vocabulary.org/Event" itemscope="">
                            <meta content="⭐ Bảng giá sửa nhà trọn gói" itemprop="eventType">
                            <meta content="⭐ Bảng giá sửa nhà trọn gói" itemprop="name">
                            <meta content="⭐ Bảng giá sửa nhà trọn gói" itemprop="description">
                            <h6>
                            <a href="{{ path('news_show', {'slug': 'bang-gia-sua-chua-nha-moi-nhat' }) }}" itemprop="url">
                                <span itemprop="summary">⭐ Bảng giá sửa nhà trọn gói</span> </a>
                            </h6>
                            <meta content="1/1/2025" itemprop="startDate">
                            <meta content="☎️ Hotline 0936.40.41.39" itemprop="location">
                        </div>
                        <div class="event-footer-item" itemtype="http://data-vocabulary.org/Event" itemscope="">
                            <meta content="⭐ Bảng giá xây nhà trọn gói" itemprop="eventType">
                            <meta content="⭐ Bảng giá xây nhà trọn gói" itemprop="name">
                            <meta content="⭐ Bảng giá xây nhà trọn gói" itemprop="description">
                            <h6>
                            <a href="{{ path('news_show', {'slug': 'bang-gia-xay-nha-tron-goi-moi-nhat' }) }}" itemprop="url">
                                <span itemprop="summary">⭐ Bảng giá xây nhà trọn gói</span> </a>
                            </h6>
                            <meta content="2/2/2025" itemprop="startDate">
                            <meta content="☎️ Hotline 0936.40.41.39" itemprop="location">
                        </div>
                        <div class="event-footer-item" itemtype="http://data-vocabulary.org/Event" itemscope="">
                            <meta content="⭐ Bảng giá xây nhà phần thô" itemprop="eventType">
                            <meta content="⭐ Bảng giá xây nhà phần thô" itemprop="name">
                            <meta content="⭐ Bảng giá xây nhà phần thô" itemprop="description">
                            <h6>
                            <a href="{{ path('news_show', {'slug': 'bang-gia-xay-nha-phan-tho-moi-nhat' }) }}" itemprop="url">
                                <span itemprop="summary">⭐ Bảng giá xây nhà phần thô</span> </a>
                            </h6>
                            <meta content="3/3/2025" itemprop="startDate">
                            <meta content="☎️ Hotline 0936.40.41.39" itemprop="location">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <h3 class="text-uppercase">Từ khóa</h3>
                {{ get_setting('topKeyword')|raw }}
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 hidden-xs hidden-sm">
                <h3 class="text-uppercase">Fanpage</h3>
                <div class="fb-page" data-href="https://www.facebook.com/xaydungnhattrung" data-tabs="timeline" data-width="340" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/xaydungnhattrung" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/xaydungnhattrung">Xây Dựng Nhật Trung</a></blockquote></div>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-sm-12 text-center">
                <p>Copyright © {{ "now"|date('Y') }} <a href="https://xaydungnhatrung.net" title="Xây Dựng Nhật Trung">Xây Dựng Nhật Trung</a>, all rights reserved.</p>
            </div>
        </div>
    </div>

    {{ include('layout/hotline.html.twig') }}
</footer>
<!-- End footer -->