<!-- Begin footer -->
<footer>
    <div class="container">
        <div class="row footer-top">
            <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                <h3 class="text-uppercase">Nhật Trung</h3>
                <div class="footer-text-wrap">
                    {{ get_setting('siteNameDescription')|raw }}
                    <br>
                    {{ get_setting('dmcaScript')|raw }}
                </div>
            </div>
            <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                <h3 class="text-uppercase">Liên hệ</h3>
                <ul class="footer-company">
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <span>549/14 Tân Kỳ Tân Quý, P.Tân Quý, Q.Tân Phú, TP HCM</span>
                    </li>
                    <li>
                        <i class="fa fa-phone"></i>
                        <span><a href="tel:{{ get_setting('hotLine2') }}">{{ get_setting('hotLine1') }}</a> - Mr. Tuần</span>
                    </li>
                    <li>
                        <i class="fas fa-envelope"></i>
                        <span><a href="mailto:{{ get_setting('emailContact') }}">{{ get_setting('emailContact') }}</a></span>
                    </li>
                    <li>
                        <i class="fab fa-internet-explorer"></i>
                        <span><a href="https://xaydungnhattrung.net/">www.xaydungnhattrung.net</a></span>
                    </li>
                </ul>

                <div class="social-wrapper">
                    <span class="td-social-icon-wrap">
                        <a target="_blank" href="{{ get_setting('linkToFacebook') }}" rel="nofollow noreferrer" title="Xây Dựng Nhật Trung trên Facebook">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </span>
                    <span class="td-social-icon-wrap">
                        <a target="_blank" href="{{ get_setting('linkToYoutube') }}" rel="nofollow noreferrer" title="Xây Dựng Nhật Trung trên Youtube">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </span>
                    <span class="td-social-icon-wrap">
                        <a target="_blank" href="{{ get_setting('linkToLinkedin') }}" rel="nofollow noreferrer" title="Xây Dựng Nhật Trung trên Linkedin">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </span>
                    <span class="td-social-icon-wrap">
                        <a target="_blank" href="{{ get_setting('linkToWordpress') }}" rel="nofollow noreferrer" title="Xây Dựng Nhật Trung trên Wordpress">
                            <i class="fab fa-wordpress"></i>
                        </a>
                    </span>
                    <span class="td-social-icon-wrap">
                        <a target="_blank" href="{{ get_setting('linkToBlog') }}" rel="nofollow noreferrer" title="Xây Dựng Nhật Trung trên Blogger">
                            <i class="fas fa-blog"></i>
                        </a>
                    </span>
                </div>

                <div class="event-footer row">
                    <div class="col-12 col-sm-12 col-md-12">
                        <div class="event-footer-item" itemtype="http://schema.org/Event" itemscope="">
                            <meta content="⭐ Sửa nhà trọn gói" itemprop="name">
                            <meta content="⭐ Sửa nhà trọn gói" itemprop="description">
                            <h6>
                                <a href="{{ path('news_show', {'slug': 'bang-gia-sua-chua-nha-moi-nhat' }) }}" itemprop="url">
                                    <span>⭐ Sửa nhà trọn gói</span>
                                </a>
                            </h6>
                            <meta content="2025-01-01T1:00-02:00" itemprop="startDate">
                            <meta content="2026-01-01T1:00-02:00" itemprop="endDate">
                            <meta content="https://schema.org/OnlineEventAttendanceMode" itemprop="eventAttendanceMode">
                            <meta content="https://schema.org/EventScheduled" itemprop="eventStatus">
                            <meta content="{{ asset('assets/images/logo.png') }}" itemprop="image">
                            <div itemprop="location" itemscope itemtype="http://schema.org/Place">
                                <meta content="☎️ Hotline 0936.404.139" itemprop="name">
                                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                    <meta content="549/14 Tân Kỳ Tân Quý, Tân Quý, Tân Phú" itemprop="streetAddress">
                                    <meta content="Ho Chi Minh" itemprop="addressLocality">
                                    <meta content="VN" itemprop="addressRegion">
                                    <meta content="700000" itemprop="postalCode">
                                </div>
                            </div>
                            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                <meta content="{{ path('news_show', {'slug': 'bang-gia-sua-chua-nha-moi-nhat' }) }}" itemprop="url">
                                <meta content="0" itemprop="price">
                                <meta content="VND" itemprop="priceCurrency">
                                <meta content="https://schema.org/InStock" itemprop="availability">
                                <meta content="2025-01-01T1:00" itemprop="validFrom">
                            </div>
                            <div itemprop="performer" itemscope itemtype="http://schema.org/Person">
                                <meta content="Xây Dựng Nhật Trung" itemprop="name">
                            </div>
                            <div itemprop="organizer" itemscope itemtype="http://schema.org/Organization">
                                <meta content="Xây Dựng Nhật Trung" itemprop="name">
                                <meta content="https://xaydungnhattrung.net/" itemprop="url">
                            </div>
                        </div>
                        <div class="event-footer-item" itemtype="http://schema.org/Event" itemscope="">
                            <meta content="⭐ Xây nhà trọn gói" itemprop="name">
                            <meta content="⭐ Xây nhà trọn gói" itemprop="description">
                            <h6>
                                <a href="{{ path('news_show', {'slug': 'bang-gia-xay-nha-tron-goi-moi-nhat' }) }}" itemprop="url">
                                    <span>⭐ Xây nhà trọn gói</span>
                                </a>
                            </h6>
                            <meta content="2025-02-02T1:00-02:00" itemprop="startDate">
                            <meta content="2026-02-02T1:00-02:00" itemprop="endDate">
                            <meta content="https://schema.org/OnlineEventAttendanceMode" itemprop="eventAttendanceMode">
                            <meta content="https://schema.org/EventScheduled" itemprop="eventStatus">
                            <meta content="{{ asset('assets/images/logo.png') }}" itemprop="image">
                            <div itemprop="location" itemscope itemtype="http://schema.org/Place">
                                <meta content="☎️ Hotline 0936.404.139" itemprop="name">
                                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                    <meta content="549/14 Tân Kỳ Tân Quý, Tân Quý, Tân Phú" itemprop="streetAddress">
                                    <meta content="Ho Chi Minh" itemprop="addressLocality">
                                    <meta content="VN" itemprop="addressRegion">
                                    <meta content="700000" itemprop="postalCode">
                                </div>
                            </div>
                            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                <meta content="{{ path('news_show', {'slug': 'bang-gia-xay-nha-tron-goi-moi-nhat' }) }}" itemprop="url">
                                <meta content="4500000" itemprop="price">
                                <meta content="VND" itemprop="priceCurrency">
                                <meta content="https://schema.org/InStock" itemprop="availability">
                                <meta content="2025-02-02T1:00" itemprop="validFrom">
                            </div>
                            <div itemprop="performer" itemscope itemtype="http://schema.org/Person">
                                <meta content="Xây Dựng Nhật Trung" itemprop="name">
                            </div>
                            <div itemprop="organizer" itemscope itemtype="http://schema.org/Organization">
                                <meta content="Xây Dựng Nhật Trung" itemprop="name">
                                <meta content="https://xaydungnhattrung.net/" itemprop="url">
                            </div>
                        </div>
                        <div class="event-footer-item" itemtype="http://schema.org/Event" itemscope="">
                            <meta content="⭐ Xây dựng phần thô" itemprop="name">
                            <meta content="⭐ Xây dựng phần thô" itemprop="description">
                            <h6>
                                <a href="{{ path('news_show', {'slug': 'bang-gia-xay-nha-phan-tho-moi-nhat' }) }}" itemprop="url">
                                    <span>⭐ Xây dựng phần thô</span>
                                </a>
                            </h6>
                            <meta content="2025-03-03T1:00-02:00" itemprop="startDate">
                            <meta content="2026-03-03T1:00-02:00" itemprop="endDate">
                            <meta content="https://schema.org/OnlineEventAttendanceMode" itemprop="eventAttendanceMode">
                            <meta content="https://schema.org/EventScheduled" itemprop="eventStatus">
                            <meta content="{{ asset('assets/images/logo.png') }}" itemprop="image">
                            <div itemprop="location" itemscope itemtype="http://schema.org/Place">
                                <meta content="☎️ Hotline 0936.404.139" itemprop="name">
                                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                    <meta content="549/14 Tân Kỳ Tân Quý, Tân Quý, Tân Phú" itemprop="streetAddress">
                                    <meta content="Ho Chi Minh" itemprop="addressLocality">
                                    <meta content="VN" itemprop="addressRegion">
                                    <meta content="700000" itemprop="postalCode">
                                </div>
                            </div>
                            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                <meta content="{{ path('news_show', {'slug': 'bang-gia-xay-nha-phan-tho-moi-nhat' }) }}" itemprop="url">
                                <meta content="3200000" itemprop="price">
                                <meta content="VND" itemprop="priceCurrency">
                                <meta content="https://schema.org/InStock" itemprop="availability">
                                <meta content="2025-03-03T1:00" itemprop="validFrom">
                            </div>
                            <div itemprop="performer" itemscope itemtype="http://schema.org/Person">
                                <meta content="Xây Dựng Nhật Trung" itemprop="name">
                            </div>
                            <div itemprop="organizer" itemscope itemtype="http://schema.org/Organization">
                                <meta content="Xây Dựng Nhật Trung" itemprop="name">
                                <meta content="https://xaydungnhattrung.net/" itemprop="url">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <h3 class="text-uppercase">Từ khóa</h3>
                {{ get_setting('topKeyword')|raw }}
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 hidden-xs hidden-sm">
                <h3 class="text-uppercase">Fanpage</h3>
                <div
                    class="fb-page"
                    data-href="https://www.facebook.com/xaydungnhattrung"
                    data-tabs=""
                    data-width="340"
                    data-height=""
                    data-small-header="false"
                    data-adapt-container-width="true"
                    data-hide-cover="false"
                    data-show-facepile="true"
                    data-lazy="true">
                    <blockquote cite="https://www.facebook.com/xaydungnhattrung" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/xaydungnhattrung">Xây Dựng Nhật Trung</a></blockquote>
                </div>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-sm-12 text-center">
                <p>Copyright © {{ "now"|date('Y') }} <a href="https://xaydungnhatrung.net" title="Xây Dựng Nhật Trung">Xây Dựng Nhật Trung</a>, all rights reserved.</p>
            </div>
        </div>
    </div>

    {{ include('layout/hotline.html.twig') }}
</footer>
<!-- End footer -->