<!-- Begin header -->
<div class="wrapper-container header d-none hidden-xs hidden-sm">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4 col-md-4 text-left">
                <span>
                    <i class="fas fa-mobile-alt"></i>
                    <a href="tel:0936404139">0936.40.41.39</a>
                </span>
                <span>
                    <i class="fa fa-envelope-o"></i>
                    <a href="mailto:xaydungnhatthu@gmail.com">xaydungnhatthu@gmail.com</a>
                </span>
            </div>
            <div class="col-12 col-sm-4 col-md-8 marquee">
                <div class="skew-divider"></div>
                <marquee scrollamount="6">{{ get_setting('marqueeHomepage')|raw }}</marquee>
            </div>
        </div>
    </div>
</div>
<div class="wrapper-container banner d-none hidden-xs hidden-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-3" id="logo_top">
                <div id="logo">								
                    <a href="{{ path('homepage') }}" title="{{ get_setting('siteName') }}">
                        <img alt="{{ get_setting('siteName') }}" src="{{ asset('assets/images/logo.png') }}">
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-top">
                    <div class="wp10">
                        <span><i class="fas fa-mobile-alt"></i></span>
                    </div>
                    <div class="wp90">
                        <div class="info-nd">
                            <p class="tel text-uppercase">XÂY DỰNG NHẬT TRUNG</p>
                            <p>ĐT: 0936 404 139 - Hotline: 0973 400 138</p>
                            <p>Email: xaydungnhatthu@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="info-top">
                    <div class="wp10">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="wp90">
                        <div class="info-nd">
                            <p class="tel text-uppercase">VĂN PHÒNG GIAO DỊCH</p>
                            <p>CN: 224 Gò Dầu, Phường Tân Quý, Quận Tân Phú, TP HCM</p>
                            <p>Website: www.xaydungnhattrung.net</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End header -->