<div id="button-contact-vr">
    <div id="zalo-vr" class="button-contact">
        <div class="phone-vr">
            <div class="phone-vr-circle-fill"></div>
            <div class="phone-vr-img-circle">
                <a href="https://m.me/xaydungnhattrung" rel="nofollow noreferrer" target="_blank" title="Chát với chúng tôi qua Facebook">
                    <img class="icon-hotline" src="{{ asset(convert_images.webpConvert2(asset('/assets/images/fb.png'), '')) }}" alt="Chát với chúng tôi qua Facebook" width="35" height="35">
                </a>
            </div>
        </div>
    </div>
    <div id="zalo-vr" class="button-contact">
        <div class="phone-vr">
            <div class="phone-vr-circle-fill"></div>
            <div class="phone-vr-img-circle">
                <a href="https://zalo.me/0973400138" rel="nofollow noreferrer" target="_blank" title="Chát với chúng tôi qua Zalo">
                    <img class="icon-hotline" src="{{ asset(convert_images.webpConvert2(asset('/assets/images/zalo.png'), '')) }}" alt="Chát với chúng tôi qua Zalo" width="35" height="35">
                </a>
            </div>
        </div>
    </div>
    <div id="phone-vr" class="button-contact">
        <div class="phone-vr">
            <div class="phone-vr-circle-fill"></div>
            <div class="phone-vr-img-circle">
                <a href="tel:+84{{ get_setting('hotLine1')|replace({'.': ''})|slice(1,9) }}" rel="nofollow noreferrer" title="Gọi chúng tôi">
                    <img class="icon-hotline" src="{{ asset(convert_images.webpConvert2(asset('/assets/images/phone.png'), '')) }}" alt="Gọi chúng tôi" width="35" height="35">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="td-scroll-up go-to-top td-scroll-up-visible hidden">
    <i class="fa fa-chevron-up"></i>
</div>

<aside class="floating container hidden-sm hidden-md hidden-lg">
    <section class="row inside cover">
        <a class="call-now col-xs-6" href="tel:+84{{ get_setting('hotLine1')|replace({'.': ''})|slice(1,9) }}" title="Hotline: {{ get_setting('hotLine1') }}">
            <div id="call-now">
                <i class="fa fa-phone-square" aria-hidden="true"></i>
                <span class="hotline-bottom">Mr. Tuần</span>
                <strong class="hotline-bottom">{{ get_setting('hotLine1') }}</strong>
            </div>
        </a>
        <a class="chat-us col-xs-6" href="tel:+84{{ get_setting('hotLine2')|replace({'.': ''})|slice(1,9) }}" title="Hotline: {{ get_setting('hotLine2') }}">
            <div>
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                <span class="hotline-bottom">Mr. Thiện</span>
                <strong class="hotline-bottom">{{ get_setting('hotLine2') }}</strong>
            </div>
        </a>
    </section>
</aside>