{% if showSlide is defined %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
            <li data-target="#myCarousel" data-slide-to="3" class=""></li>
            <li data-target="#myCarousel" data-slide-to="4" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <picture>
                    <source
                        srcset="{{ asset('assets/images/banner/cong-ty-xay-dung-uy-tin.jpg') | imagine_filter('banner_768_400') }}"
                        media="(max-width: 799px)" />
                    <source
                        srcset="{{ asset('assets/images/banner/cong-ty-xay-dung-uy-tin.jpg') | imagine_filter('banner_1500_500') }}"
                        media="(min-width: 800px)" />
                    <img
                        src="{{ asset('assets/images/banner/cong-ty-xay-dung-uy-tin.jpg') | imagine_filter('banner_1500_500') }}"
                        alt="Công ty xây dựng uy tín, chuyên nghiệp" />
                </picture>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h2 class="text-uppercase">Xây Dựng Nhật Trung</h2>
                        <p>Công ty xây dựng uy tín, chuyên nghiệp</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <a href="{{ path('news_show', {'slug': 'sua-chua-nha-cai-tao-nha-cu-tai-1419-le-van-luong-nha-be-hcm' }) }}">
                    <picture>
                        <source
                            srcset="{{ asset('assets/images/banner/sua-nha-dien-vien-thanh-dat.jpg') | imagine_filter('banner_768_400') }}"
                            media="(max-width: 799px)" />
                        <source
                            srcset="{{ asset('assets/images/banner/sua-nha-dien-vien-thanh-dat.jpg') | imagine_filter('banner_1500_500') }}"
                            media="(min-width: 800px)" />
                        <img
                            src="{{ asset('assets/images/banner/sua-nha-dien-vien-thanh-dat.jpg') | imagine_filter('banner_1500_500') }}"
                            alt="Sửa nhà diễn viên Thành Đạt" />
                    </picture>
                </a>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h2 class="text-uppercase">Xây Dựng Nhật Trung</h2>
                        <p>Sửa nhà diễn viên Thành Đạt, Nhà Bè</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <a href="{{ path('news_show', {'slug': 'du-an-xay-nha-tron-goi-anh-xang-binh-duong' }) }}">
                    <picture>
                        <source
                            srcset="{{ asset('assets/images/banner/xay-nha-tron-goi-binh-duong.jpg') | imagine_filter('banner_768_400') }}"
                            media="(max-width: 799px)" />
                        <source
                            srcset="{{ asset('assets/images/banner/xay-nha-tron-goi-binh-duong.jpg') | imagine_filter('banner_1500_500') }}"
                            media="(min-width: 800px)" />
                        <img
                            src="{{ asset('assets/images/banner/xay-nha-tron-goi-binh-duong.jpg') | imagine_filter('banner_1500_500') }}"
                            alt="Xây nhà trọn gói tại Bình Dương" />
                    </picture>
                </a>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h2 class="text-uppercase">Xây Dựng Nhật Trung</h2>
                        <p>Xây nhà trọn gói tại Bình Dương</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <a href="{{ path('news_show', {'slug': 'bang-gia-xay-nha-tron-goi-moi-nhat' }) }}">
                    <picture>
                        <source
                            srcset="{{ asset('assets/images/banner/banner-thi-cong-phan-tho.jpg') | imagine_filter('banner_768_400') }}"
                            media="(max-width: 799px)" />
                        <source
                            srcset="{{ asset('assets/images/banner/banner-thi-cong-phan-tho.jpg') | imagine_filter('banner_1500_500') }}"
                            media="(min-width: 800px)" />
                        <img
                            src="{{ asset('assets/images/banner/banner-thi-cong-phan-tho.jpg') | imagine_filter('banner_1500_500') }}"
                            alt="Xây nhà trọn gói Hương Lộ 3, TP HCM" />
                    </picture>
                </a>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h2 class="text-uppercase">Xây Dựng Nhật Trung</h2>
                        <p>Xây nhà trọn gói Hương Lộ 3, TP HCM</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <a href="{{ path('news_show', {'slug': 'bang-gia-xay-nha-phan-tho-moi-nhat' }) }}">
                    <picture>
                        <source
                            srcset="{{ asset('assets/images/banner/banner-xay-nha-phan-tho.jpg') | imagine_filter('banner_768_400') }}"
                            media="(max-width: 799px)" />
                        <source
                            srcset="{{ asset('assets/images/banner/banner-xay-nha-phan-tho.jpg') | imagine_filter('banner_1500_500') }}"
                            media="(min-width: 800px)" />
                        <img
                            src="{{ asset('assets/images/banner/banner-xay-nha-phan-tho.jpg') | imagine_filter('banner_1500_500') }}"
                            alt="Thi công xây nhà phần thô" />
                    </picture>
                </a>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h2 class="text-uppercase">Xây Dựng Nhật Trung</h2>
                        <p>Thi công xây nhà phần thô</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <a href="{{ path('homepage') }}">
                    <picture>
                        <source
                            srcset="{{ asset('assets/images/banner/xay-dung-nhat-trung.jpg') | imagine_filter('banner_768_400') }}"
                            media="(max-width: 799px)" />
                        <source
                            srcset="{{ asset('assets/images/banner/xay-dung-nhat-trung.jpg') | imagine_filter('banner_1500_500') }}"
                            media="(min-width: 800px)" />
                        <img
                            src="{{ asset('assets/images/banner/xay-dung-nhat-trung.jpg') | imagine_filter('banner_1500_500') }}"
                            alt="Xây Dựng Nhật Trung" />
                    </picture>
                </a>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h2 class="text-uppercase">Xây Dựng Nhật Trung</h2>
                        <p>Bạn ước mơ chúng tôi sẽ thực hiện</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{% endif %}