{% if showSlide is defined %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
            <li data-target="#myCarousel" data-slide-to="3" class=""></li>
            <li data-target="#myCarousel" data-slide-to="4" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                {% set imagePath = asset('/assets/images/banner/cong-ty-xay-dung-uy-tin.jpg') %}
                {% set imagePathFilter = asset('/assets/images/banner/cong-ty-xay-dung-uy-tin.jpg') | imagine_filter('banner_1500_500') %}
                {% set imagePathFilterMobile = asset('/assets/images/banner/cong-ty-xay-dung-uy-tin.jpg') | imagine_filter('banner_768_400') %}
                        
                {% if convert_images.fileExists(imagePath) == false %}
                    {% set imagePath = imagePath | imagine_filter('banner_1500_500') %}
                    {% set imagePathMobile = imagePath | imagine_filter('banner_768_400') %}
                {% else %}
                    {% set imagePath = convert_images.webpConvert(imagePathFilter, '', true) %}
                    {% set imagePathMobile = convert_images.webpConvert(imagePathFilterMobile, '', true) %}
                {% endif %}
                <picture>
                    <source
                        srcset="{{ imagePathMobile != false ? absolute_url(imagePathMobile) : absolute_url(imagePathFilterMobile) }}"
                        media="(max-width: 799px)" />
                    <source
                        srcset="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                        media="(min-width: 800px)" />
                    <img
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                        alt="Công ty xây dựng uy tín, chuyên nghiệp"
                        class="lazyload" />
                </picture>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1 class="text-uppercase">Xây Dựng Nhật Trung</h1>
                        <p>Công ty xây dựng uy tín, chuyên nghiệp</p>
                    </div>
                </div>
            </div>
            <div class="item">
                {% set imagePath = asset('/assets/images/banner/sua-nha-dien-vien-thanh-dat.jpg') %}
                {% set imagePathFilter = asset('/assets/images/banner/sua-nha-dien-vien-thanh-dat.jpg') | imagine_filter('banner_1500_500') %}
                {% set imagePathFilterMobile = asset('/assets/images/banner/sua-nha-dien-vien-thanh-dat.jpg') | imagine_filter('banner_768_400') %}
                        
                {% if convert_images.fileExists(imagePath) == false %}
                    {% set imagePath = imagePath | imagine_filter('banner_1500_500') %}
                    {% set imagePathMobile = imagePath | imagine_filter('banner_768_400') %}
                {% else %}
                    {% set imagePath = convert_images.webpConvert(imagePathFilter, '', true) %}
                    {% set imagePathMobile = convert_images.webpConvert(imagePathFilterMobile, '', true) %}
                {% endif %}
                <a href="{{ path('news_show', {'slug': 'sua-chua-nha-cai-tao-nha-cu-tai-1419-le-van-luong-nha-be-hcm' }) }}">
                    <picture>
                        <source
                            srcset="{{ imagePathMobile != false ? absolute_url(imagePathMobile) : absolute_url(imagePathFilterMobile) }}"
                            media="(max-width: 799px)" />
                        <source
                            srcset="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                            media="(min-width: 800px)" />
                        <img
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            data-src="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                            alt="Sửa nhà diễn viên Thành Đạt"
                            class="lazyload" />
                    </picture>
                </a>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h2 class="text-uppercase">Xây Dựng Nhật Trung</h2>
                        <p>Sửa nhà diễn viên Thành Đạt, Nhà Bè</p>
                    </div>
                </div>
            </div>
            <div class="item">
                {% set imagePath = asset('/assets/images/banner/xay-nha-tron-goi-binh-duong.jpg') %}
                {% set imagePathFilter = asset('/assets/images/banner/xay-nha-tron-goi-binh-duong.jpg') | imagine_filter('banner_1500_500') %}
                {% set imagePathFilterMobile = asset('/assets/images/banner/xay-nha-tron-goi-binh-duong.jpg') | imagine_filter('banner_768_400') %}
                        
                {% if convert_images.fileExists(imagePath) == false %}
                    {% set imagePath = imagePath | imagine_filter('banner_1500_500') %}
                    {% set imagePathMobile = imagePath | imagine_filter('banner_768_400') %}
                {% else %}
                    {% set imagePath = convert_images.webpConvert(imagePathFilter, '', true) %}
                    {% set imagePathMobile = convert_images.webpConvert(imagePathFilterMobile, '', true) %}
                {% endif %}
                <a href="{{ path('news_show', {'slug': 'du-an-xay-nha-tron-goi-anh-xang-binh-duong' }) }}">
                    <picture>
                        <source
                            srcset="{{ imagePathMobile != false ? absolute_url(imagePathMobile) : absolute_url(imagePathFilterMobile) }}"
                            media="(max-width: 799px)" />
                        <source
                            srcset="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                            media="(min-width: 800px)" />
                        <img
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            data-src="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                            alt="Xây nhà trọn gói tại Bình Dương"
                            class="lazyload" />
                    </picture>
                </a>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h2 class="text-uppercase">Xây Dựng Nhật Trung</h2>
                        <p>Xây nhà trọn gói tại Bình Dương</p>
                    </div>
                </div>
            </div>
            <div class="item">
                {% set imagePath = asset('/assets/images/banner/banner-thi-cong-phan-tho.jpg') %}
                {% set imagePathFilter = asset('/assets/images/banner/banner-thi-cong-phan-tho.jpg') | imagine_filter('banner_1500_500') %}
                {% set imagePathFilterMobile = asset('/assets/images/banner/banner-thi-cong-phan-tho.jpg') | imagine_filter('banner_768_400') %}
                        
                {% if convert_images.fileExists(imagePath) == false %}
                    {% set imagePath = imagePath | imagine_filter('banner_1500_500') %}
                    {% set imagePathMobile = imagePath | imagine_filter('banner_768_400') %}
                {% else %}
                    {% set imagePath = convert_images.webpConvert(imagePathFilter, '', true) %}
                    {% set imagePathMobile = convert_images.webpConvert(imagePathFilterMobile, '', true) %}
                {% endif %}
                <a href="{{ path('news_show', {'slug': 'bang-gia-xay-nha-tron-goi-moi-nhat' }) }}">
                    <picture>
                        <source
                            srcset="{{ imagePathMobile != false ? absolute_url(imagePathMobile) : absolute_url(imagePathFilterMobile) }}"
                            media="(max-width: 799px)" />
                        <source
                            srcset="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                            media="(min-width: 800px)" />
                        <img
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            data-src="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                            alt="Xây nhà trọn gói Hương Lộ 3, TP HCM"
                            class="lazyload" />
                    </picture>
                </a>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h2 class="text-uppercase">Xây Dựng Nhật Trung</h2>
                        <p>Xây nhà trọn gói Hương Lộ 3, TP HCM</p>
                    </div>
                </div>
            </div>
            <div class="item">
                {% set imagePath = asset('/assets/images/banner/banner-xay-nha-phan-tho.jpg') %}
                {% set imagePathFilter = asset('/assets/images/banner/banner-xay-nha-phan-tho.jpg') | imagine_filter('banner_1500_500') %}
                {% set imagePathFilterMobile = asset('/assets/images/banner/banner-xay-nha-phan-tho.jpg') | imagine_filter('banner_768_400') %}
                        
                {% if convert_images.fileExists(imagePath) == false %}
                    {% set imagePath = imagePath | imagine_filter('banner_1500_500') %}
                    {% set imagePathMobile = imagePath | imagine_filter('banner_768_400') %}
                {% else %}
                    {% set imagePath = convert_images.webpConvert(imagePathFilter, '', true) %}
                    {% set imagePathMobile = convert_images.webpConvert(imagePathFilterMobile, '', true) %}
                {% endif %}
                <a href="{{ path('news_show', {'slug': 'bang-gia-xay-nha-phan-tho-moi-nhat' }) }}">
                    <picture>
                        <source
                            srcset="{{ imagePathMobile != false ? absolute_url(imagePathMobile) : absolute_url(imagePathFilterMobile) }}"
                            media="(max-width: 799px)" />
                        <source
                            srcset="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                            media="(min-width: 800px)" />
                        <img
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            data-src="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                            alt="Thi công xây nhà phần thô"
                            class="lazyload" />
                    </picture>
                </a>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h2 class="text-uppercase">Xây Dựng Nhật Trung</h2>
                        <p>Thi công xây nhà phần thô</p>
                    </div>
                </div>
            </div>
            <div class="item">
                {% set imagePath = asset('/assets/images/banner/xay-dung-nhat-trung.jpg') %}
                {% set imagePathFilter = asset('/assets/images/banner/xay-dung-nhat-trung.jpg') | imagine_filter('banner_1500_500') %}
                {% set imagePathFilterMobile = asset('/assets/images/banner/xay-dung-nhat-trung.jpg') | imagine_filter('banner_768_400') %}
                        
                {% if convert_images.fileExists(imagePath) == false %}
                    {% set imagePath = imagePath | imagine_filter('banner_1500_500') %}
                    {% set imagePathMobile = imagePath | imagine_filter('banner_768_400') %}
                {% else %}
                    {% set imagePath = convert_images.webpConvert(imagePathFilter, '', true) %}
                    {% set imagePathMobile = convert_images.webpConvert(imagePathFilterMobile, '', true) %}
                {% endif %}
                <a href="{{ path('homepage') }}">
                    <picture>
                        <source
                            srcset="{{ imagePathMobile != false ? absolute_url(imagePathMobile) : absolute_url(imagePathFilterMobile) }}"
                            media="(max-width: 799px)" />
                        <source
                            srcset="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                            media="(min-width: 800px)" />
                        <img
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            data-src="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                            alt="Xây Dựng Nhật Trung"
                            class="lazyload" />
                    </picture>
                </a>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h2 class="text-uppercase">Xây Dựng Nhật Trung</h2>
                        <p>Bạn ước mơ chúng tôi sẽ thực hiện</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{% endif %}