{% set imagePath = (vich_uploader_asset(row, 'imageFile') ? vich_uploader_asset(row, 'imageFile') : asset('assets/images/no-image.png')) %}
{% set imagePathFilter = (vich_uploader_asset(row, 'imageFile') ? vich_uploader_asset(row, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_564_440') %}
                        
{% if convert_images.fileExists(imagePath) == false %}
    {% set imagePath = imagePath | imagine_filter('news_564_440') %}
{% else %}
    {% set imagePath = convert_images.webpConvert(imagePathFilter, '', true) %}
{% endif %}

<div class="news-item">
    <div class="news-item-wrapper">
        <div class="media-thumb">
            <img
                class="mr-3 img-thumbnail lazyload"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="{{ imagePath != false ? asset(imagePath) : asset(imagePathFilter) }}"
                alt="{{row.getTitle()}}"
                width="293"
                height="220" />
            <a title="{{ row.getTitle() }}" href="{{ path('news_show', {'slug': row.getUrl(), 'category': blockOnHomepage ? blockOnHomepage.category.getUrl() : category.getUrl() }) }}">
                <i class="fa fa-link"></i>
            </a>
        </div>
        <div class="media-body">
            <h2>
                <a title="{{ row.getTitle() }}" href="{{ path('news_show', {'slug': row.getUrl(), 'category': blockOnHomepage ? blockOnHomepage.category.getUrl() : category.getUrl() }) }}" title="{{ row.getTitle() }}">
                    <span>{{ row.getTitle() }}</span>
                </a>
            </h2>
            <p>{{ row.getDescription() }}</p>
        </div>
    </div>
</div>