{% extends 'layout.html.twig' %}

{% block title %}{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}{% endblock %}
{% block description %}{{ post.getPageDescription() is not null ? post.getPageDescription() : post.getDescription() }}{% endblock %}
{% block keyword %}{{ post.getPageKeyword() }}{% endblock %}

{% block structuredOpenGraph %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}" />
    <meta property="og:description" content="{{ post.getPageDescription() is not null ? post.getPageDescription() : post.getDescription() }}" />
{% endblock %}

{% block body %}
    <div class="wrapper-container-item-detail">
        <div class="container wrapper-container contacts page-detail">
            <div class="row">
                {{ include('news/components/breadcrumbs.html.twig') }}

                <div class="col-xs-12 col-sm-12 col-md-9">
                    <div class="company">
                        <h3 class="text-uppercase">TƯ VẤN THIẾT KẾ XÂY DỰNG NHẬT TRUNG</h3>
                        <ul>
                            <li>
                                <i class="fa fa-map-marker"></i>
                                <span><strong>VPGD: 224 Gò Dầu, Phường Tân Quý, Tân Phú, TP HCM</strong></span>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                <span><strong>Hotline: 0973.400.138 - 0936.404.139 A Tuần</strong></span>
                            </li>
                            <li>
                                <i class="fas fa-envelope"></i>
                                <span><strong>Email: {{ get_setting('emailContact') }}</strong></span>
                            </li>
                            <li>
                                <i class="fas fa-money-check"></i>
                                <span><strong>MST: 0314251798</strong></span>
                            </li>
                            <li>
                                <i class="fab fa-internet-explorer"></i>
                                <span><strong>Website: www.xaydungnhattrung.net</strong></span>
                            </li>
                        </ul>
                    </div>

                    <div class="maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4660.737002284003!2d106.61742235143723!3d10.796215822012497!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752bf84ea72503%3A0xcbe84831b736cc77!2zMjI0IEfDsiBE4bqndSwgVMOibiBRdcO9LCBUw6JuIFBow7osIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1591332317862!5m2!1sen!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('notice') %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>

                {{ include('layout/sidebar.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}